html, body {
    font-size: initial;
}

.page-header {
    margin: 0;
}

div.image-id {
    font-size: 0.8em;
}

.filter-bar {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.select-field {
  margin: 0 4px;
}

.title {
    margin-bottom: 30px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.download-csv {
  display: flex;
  justify-content: flex-end;
}

.vuln.label-danger,
.vuln.label-warning,
.vuln.label-info,
.vuln.label-success,
.vuln.label-default {
  display: inline-block;
  padding: .25em .6em;
  font-size: 85%;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

/* Critical */
.vuln.label-danger {
  background-color: #bf6cd0;
}

/* High */
.vuln.label-warning {
  background-color: #ee635e;
}

/* Medium */
.vuln.label-info {
  background-color: #ffa940;
}

/* Low */
.vuln.label-success {
  background-color: #f6ca09;
}

/* Negligible */
.vuln.label-default {
  background-color: #91a7b3;
}
